useDynLib(RBrowserPlugin)

#exportClasses("JavaScriptRef")
#exportClasses("nsIDocument", "nsINode")
#exportClasses("NPObjectRef", "NPVariantRef", "NPNFunctionsRef", "PluginInstance")
exportClasses("JSValueRef", "NPNFunctionsRef", "PluginInstance")
exportPattern(".*")

#exportMethods("coerce")
#exportClasses("nsPIDOMWindow")



