<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
<script type="text/javascript" src="testR.js"></script>
</head>

<body>
<h1>R in Firefox Test</h1>

Click on the Go button and this will start R and call the function
foo() with 4 as the argument.

<button onclick="go();">Go</button>



<hr>
<address><a href="http://www.stat.ucdavis.edu/~duncan">Duncan Temple Lang</a>
<a href=mailto:duncan@wald.ucdavis.edu>&lt;duncan@wald.ucdavis.edu&gt;</a></address>
<!-- hhmts start -->
Last modified: Mon Nov 30 15:15:43 PST 2009
<!-- hhmts end -->
</body> </html>
