<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<META http-equiv="Content-Type" content="text/html"/> 
<title></title>
<script type="text/javascript" src="testJSRef.js"></script>
</head>

<body>
<h1></h1>

Click on the Go button and this will start the test
that run R and pass across a reference to the
JavaScript document object.

<button id="go" onclick="go();">Go</button>


<form id="GoForm">
<input type="button" value="Hit me"></input>
</form>
<p>

We want to be able to
<ul>
  <li> get a reference to the specific type of JavaScript reference,
      e.g. a Document, Node/Element, ...
  <li> 
</ul>



<hr>
<address><a href="http://www.stat.ucdavis.edu/~duncan">Duncan Temple Lang</a>
<a href=mailto:duncan@wald.ucdavis.edu>&lt;duncan@wald.ucdavis.edu&gt;</a></address>
<!-- hhmts start -->
Last modified: Fri Dec 18 15:03:11 PST 2009
<!-- hhmts end -->
</body> </html>
